<ion-header>
  <ion-toolbar>
    <ion-title>accesAdmin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button expand="block" fill="outline" [routerLink]="['/acces-admin-users-stats']">Personnes ayant répondues</ion-button>
  </ion-item>
  <ion-item>
    <ion-button expand="block" fill="outline" [routerLink]="['/acces-admin-form-stats']">Réponses du formulaire</ion-button>
  </ion-item>
  <ion-item>
    <ion-button expand="block" fill="outline" [routerLink]="['/connexion-admin']">Retour</ion-button>
  </ion-item>
</ion-content>
