<ion-header>
  <ion-toolbar>
    <ion-title>accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div>
        <ion-button expand="block" fill="outline" [routerLink]="['/home']">Commencer le formulaire</ion-button>
      </div>
      <div>
        <ion-button expand="block" fill="outline" [routerLink]="['/connexion-admin']">Accès administrateur</ion-button>
      </div>
      </ion-card-content>
  </ion-card>
</ion-content>
